Repository zetcgo/nodejs-backend: changes, and which lefthook commands are due for each by the changed paths.
All: package-json, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
    parallel: true
    commands:
        package-json:
            glob: '**/package.json'
            run: bun sort-package-json -c
        tsconfig-json:
            run: bun sort-tsconfig 'src/**/tsconfig.json'
        prettier:
            glob: '**'
            run: bun run format
        eslint:
            glob: '**'
            run: bun run lint
        stylelint:
            glob: '**/*.css'
            run: bun run style

🚀 Create Google Authentication App
  bun.lock
  src/Chapter11--gauth/.gitignore
  src/Chapter11--gauth/package.json
  src/Chapter11--gauth/src/app.module.ts
  src/Chapter11--gauth/src/auth/auth.controller.ts
  src/Chapter11--gauth/src/auth/auth.guard.ts
  src/Chapter11--gauth/src/auth/auth.module.ts
  src/Chapter11--gauth/src/auth/auth.test.http
  src/Chapter11--gauth/src/auth/google.strategy.ts
  src/Chapter11--gauth/src/auth/session.serializer.ts
  src/Chapter11--gauth/src/main.ts
  src/Chapter11--gauth/src/user/user.dto.ts
  src/Chapter11--gauth/src/user/user.entity.ts
  src/Chapter11--gauth/src/user/user.module.ts
  src/Chapter11--gauth/src/user/user.service.ts
  src/Chapter11--gauth/tsconfig.json
Due: package-json, prettier, eslint

🔖 Prepare v0.11.0 Release
  package.json
Due: prettier, eslint

⬆️ Upgrade Dependencies
  bun.lock
  package.json
  src/Chapter6/mongodb/package.json
  src/Chapter6/mongoose/package.json
  src/Chapter7--board/package.json
  src/Chapter8/package.json
Due: package-json, prettier, eslint

🔖 Prepare v0.11.1 Release
  package.json
Due: prettier, eslint

🔧 Fix and Apply lefthook.yml
  lefthook.yml
  src/Chapter9/package.json
Due: package-json, prettier, eslint

🚀 Create File Uploader App
  bun.lock
  src/Chapter12--file-uploader/.gitignore
  src/Chapter12--file-uploader/package.json
  src/Chapter12--file-uploader/src/app.controller.ts
  src/Chapter12--file-uploader/src/app.module.ts
  src/Chapter12--file-uploader/src/app.service.ts
  src/Chapter12--file-uploader/src/app.test.http
  src/Chapter12--file-uploader/src/app.test.txt
  src/Chapter12--file-uploader/src/main.ts
  src/Chapter12--file-uploader/tsconfig.json
Due: package-json, prettier, eslint

⚡️ Enable Non-text File Upload
  bun.lock
  src/Chapter12--file-uploader/package.json
  src/Chapter12--file-uploader/src/app.module.ts
  src/Chapter12--file-uploader/src/app.test.http
  src/Chapter12--file-uploader/src/app.test.png
Due: package-json, prettier, eslint

✨ Add File Upload Client
  src/Chapter12--file-uploader/src/app.controller.ts
  src/Chapter12--file-uploader/src/main.ts
  src/Chapter12--file-uploader/static/index.html
Due: prettier, eslint

🔥 Remove Unused app.service.ts
  src/Chapter12--file-uploader/src/app.controller.ts
  src/Chapter12--file-uploader/src/app.module.ts
  src/Chapter12--file-uploader/src/app.service.ts
Due: prettier, eslint

🔖 Prepare v0.12.0 Release
  package.json
Due: prettier, eslint

🚨 Add Global Support for Public File
  eslint.config.js
  src/Chapter12--file-uploader/src/static/index.html
Due: prettier, eslint

🚀 Create Vanilla Chat App
  bun.lock
  src/Chapter13--chat/vanilla/package.json
  src/Chapter13--chat/vanilla/src/public/index.css
  src/Chapter13--chat/vanilla/src/public/index.html
  src/Chapter13--chat/vanilla/src/public/index.js
  src/Chapter13--chat/vanilla/src/server.js
Due: package-json, prettier, eslint, stylelint

🚀 Create Nest.js Chat App
  bun.lock
  src/Chapter13--chat/nestjs/package.json
  src/Chapter13--chat/nestjs/src/app.gateway.ts
  src/Chapter13--chat/nestjs/src/app.module.ts
  src/Chapter13--chat/nestjs/src/main.ts
  src/Chapter13--chat/nestjs/src/public/index.css
  src/Chapter13--chat/nestjs/src/public/index.html
  src/Chapter13--chat/nestjs/src/public/index.js
  src/Chapter13--chat/nestjs/tsconfig.json
Due: package-json, prettier, eslint, stylelint

🔖 Prepare v0.13.0 Release
  package.json
Due: prettier, eslint

📌 v1.0.0
  package.json
Due: prettier, eslint
